* {
	font-family: 'Poppins', sans-serif;
}


#banner {
	background-image: url(../images/banner.png);
	background-size: cover ;
	height: 100%;
	width: 100%;
}

#banner2 {
	background-image: url(../images/bg-banner.png);
	background-size: cover ;
	background-repeat: no-repeat;
	background-position: center;
	height: auto;
	width: auto;
}

#bg-profile {
	background-image: url(../images/bg-profile1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
}

#hbanner {
	font-family: 'Berkshire Swash', cursive;
	font-size: 5rem;
}

#about-me {
	margin-top: 15px;
}

#skill-img {
	height: 6rem;
}
.img-skill {
	height:4rem;
	text-align: center;
}

.bg-projects {
	background-image: url(../images/bg-projects.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;

}

.bg-contact {
	background-image: url(../images/bg-contact2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  color: grey;
  cursor: pointer;
  padding: 15px;
 
}

.social-icon {
	width: 42px;
	height: 42px;
	margin: 5px 30px;

}

/*Color Palatte*/

.bg-nude {
	background-color: #f4cfb7;
}

.bg-lbrown {
	background-color: #df9a5f;
}

.bg-lbeige {
	background-color: #ffeee0;
}

.bg-dnude {
	background-color: #d9b491;
}
